body {
  background-image: url("https://t4.ftcdn.net/jpg/03/25/38/41/360_F_325384191_sg1D5lYWfRedGQsBm8xIHnsSAUUUVxGE.jpg");
  background-size: cover;
  background-color: rgb(111, 136, 115);
  justify-content: center;
  color: white;
}

.card {
  display: inline-block;
  width: 100px;
  height: 150px;
  background: white;
  color: red;
  font-size: 30px;
  border-radius: 8px;
  border-style: outset;
  border-color: black;
  row-gap: 5px;
}

#dealer-cards {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#dealer-total {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#player-cards {
  position: relative;
  display: inline-flex;
  justify-content: right;
  align-items: center;
}

#player-total {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button {
  height: auto;
  font-size: 20px;
  width: 75px;
  height: 75px;
  user-select: none;
  justify-content: center;
  align-items: center;
  color: black;
}

.hit {
  background-color: red;
}

.stand {
  background-color: blue;
}

.deal {
  background-color: chartreuse;
}

.reset {
  background-color: yellow;
}
