body {
  background-image: url("https://t4.ftcdn.net/jpg/03/25/38/41/360_F_325384191_sg1D5lYWfRedGQsBm8xIHnsSAUUUVxGE.jpg");
  background-size: cover;
  background-color: green;
  /* display: grid;
  grid-template-columns: repeat(10, 4rem);
  grid-template-rows: 7rem 2rem 7rem;
  gap: 4rem; */
  justify-content: center;
  padding-top: 1rem;
  color: white;
}

.card {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: white;
  color: red;
  font-size: 30px;
  row-gap: 10px;
  border-radius: 8px;
  border-style: outset;
  border-color: black;
}

#dealer-cards {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#dealer-total {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#player-cards {
  position: relative;
  display: inline-flex;
  justify-content: right;
  align-items: center;
}

#player-total {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 15px;
  width: 100px;
  height: 100px;
  user-select: none;
  justify-content: center;
  align-items: center;
}

.hit {
  background-color: red;
}

.stand {
  background-color: blue;
}

.deal {
  background-color: chartreuse;
}

.reset {
  background-color: yellow;
}
